/* ---------------- Section 1 ---------------- */
.section1 {
    text-align: center;
    margin-top: 30px;
}

.color-row {
    display: inline;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.box {
    width: 100px;
    height: 100px;
    color: white;
    font-size: 14px;
    display: inline;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 8px;
}

/* Different Color Formats */
.color-name { background-color: red; }
.color-hex { background-color: #00ff00; }
.color-short-hex { background-color: #f0f; }
.color-rgb { background-color: rgb(255, 255, 0); color: black; }
.color-hsl { background-color: hsl(200, 60%, 50%); }


/* ---------------- Section 2 ---------------- */
.banner {
    width: 100%;
    height: 250px;
    background-image: url('https://picsum.photos/1200/400');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: inline;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    color: white;
    font-size: 32px;
    text-shadow: 2px 2px 6px black;
}


/* ---------------- Section 3 ---------------- */
.section3 {
    display: inline;
    justify-content: center;
    margin: 50px 0;
}

.profile-card {
    width: 350px;
    height: 350px;
    padding: 20px;
    text-align: center;

    background: linear-gradient(135deg, #6a11cb, #2575fc);
    border: 3px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;

    color: hsl(0, 0%, 100%);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.profile-card p {
    margin-top: 10px;
    font-size: 15px;
}

.grad-btn {
    margin-top: 20px;
    padding: 10px 18px;
    font-size: 16px;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    background: radial-gradient(circle, #ff8a00, #e52e71);
    transition: 0.3s;
}

.grad-btn:hover {
    background: radial-gradient(circle, #e52e71, #ff8a00);
}